.container {
  position: relative;
  min-width: var(----global-screen-width);
}

body {
  background-color: rgb(247, 248, 253);
}

.min-w-full {
  min-width: 100%;
}

.max-w-1480px {
  max-width: 1480px;
}

section {
  width: 1200px;
  margin: 0 auto;
}

.section_top_text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sec-title {
  display: flex;
  align-items: center;
}
.sec-title h2 {
  letter-spacing: -0.5px;
  font-weight: 600;
  font-size: 32px;
}

.arrow_icon {
  background: url(../img/nexon_img/more.svg) no-repeat 50% 50%;
  width: 20px;
  height: 50px;
  margin-left: 6px;
}

.arrow_icon_sm {
  width: 20px;
  height: 20px;
}

.sticky_con {
  position: sticky;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1000;
  top: 10%;
  left: calc(50% + 600px + 60px);
}

.sticky_main {
  position: relative;
  background-image: url(../img/nexon_img/img_floating_BN.png);
  width: 128px;
  height: 10rem;
}
.sticky_main p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  letter-spacing: -0.26px;
  line-height: 1rem;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  white-space: break-spaces;
  width: 100%;
}
.sticky_main span {
  position: absolute;
  top: 95px;
  left: 50%;
  transform: translate(-50%, 0);
  color: rgb(109, 252, 86);
  letter-spacing: -0.3px;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
}

.first-sec {
  position: relative;
}
.first-sec .main-video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.first-sec .first-sec_right_con {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  height: 100%;
  align-items: end;
  flex-direction: column;
  width: 100%;
}
.first-sec .first_text_title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.first-sec .first_text_title span:nth-child(1) {
  transform: translateY(1px);
  color: rgb(255, 255, 255);
}
.first-sec .first_text_title span:nth-child(2) {
  color: rgb(255, 255, 255);
  letter-spacing: -0.4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.first-sec .date_con {
  display: flex;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  letter-spacing: -0.3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.first-sec .date_con span {
  margin-left: 5px;
}
.first-sec .first-date_con {
  display: flex;
  text-align: right;
  margin-bottom: 20px;
}
.first-sec .first-date_con .number {
  color: rgb(109, 252, 86);
  letter-spacing: -0.5px;
  font-size: 42px;
  font-weight: 600;
}
.first-sec .first-date_con .number_con_p {
  color: rgb(255, 255, 255);
  letter-spacing: -0.4px;
  font-weight: 400;
}

.banner-sec {
  width: 1200px;
}

.banner-con {
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 20px;
  margin-left: calc(50% - 600px);
  margin-right: calc(50% - 600px);
}

.slide-container .slide-list {
  display: flex;
  width: 100%;
  height: 100%;
}
.slide-container .slide-list .slide-item {
  width: 100vw;
  flex-grow: 0;
  flex-shrink: 0;
  transition: all 0.3s;
}
.slide-container .slide-list .slide-item .banner_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.next {
  width: 100px;
  height: 50px;
  border-color: rgb(23, 25, 28);
  border-width: 2px;
  border-radius: 100px;
  color: black;
  background-color: transparent;
  cursor: pointer;
  line-height: 24px;
  font-weight: 700;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 45%;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 6px 8px rgba(5, 14, 56, 0.1215686275);
  border: none;
  left: 1170px;
}
.next img {
  transform: scale(0.5);
}

.prev {
  width: 100px;
  height: 50px;
  border-color: rgb(23, 25, 28);
  border-width: 2px;
  border-radius: 100px;
  color: black;
  background-color: transparent;
  cursor: pointer;
  line-height: 24px;
  font-weight: 700;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 45%;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 6px 8px rgba(5, 14, 56, 0.1215686275);
  border: none;
  left: -30px;
  transform: rotate(180deg);
}
.prev img {
  transform: scale(0.5);
}

.creators-tour_sec {
  position: relative;
}

.creators-tour_sec .creators-tour_inner {
  width: 100%;
}

.sec02_next {
  position: absolute;
  top: 50%;
  z-index: 10;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 8px rgba(5, 14, 56, 0.1215686275);
  right: -20px;
}

.sec02_pre {
  position: absolute;
  top: 50%;
  z-index: 10;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 8px rgba(5, 14, 56, 0.1215686275);
  left: -20px;
}

.sec02-swiper {
  position: relative;
  margin-bottom: 50px;
}

.sec02-swiper-wrapper {
  padding-top: 60px;
}

.sec02_item {
  position: relative;
  padding: 70px 20px 20px 20px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 6px 8px rgba(5, 14, 56, 0.1215686275);
  transition: all 0.2s ease-in;
}
.sec02_item .img_con {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 111px;
  height: 111px;
  border-radius: 50%;
  border: 6px solid white;
  box-shadow: 0px 2px 4px 0px rgba(219, 221, 233, 0.7);
}
.sec02_item .img_con img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.sec02_item .sec02-item_id {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(116, 122, 134);
  gap: 10px;
}
.sec02_item .sec02-item_id p:nth-child(1) {
  font-size: 18px;
  color: rgb(23, 25, 28);
  font-weight: 700;
  line-height: 28px;
}
.sec02_item .sec02-item_lang {
  display: flex;
  gap: 5px;
  align-items: center;
}
.sec02_item .sec02-item_lang span {
  color: rgb(177 183 196/var(--tw-text-opacity));
  letter-spacing: -0.26px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.sec02_item .explain {
  display: -webkit-box;
  margin: 10px 0;
  color: rgb(116, 122, 134);
  font-size: 14px;
  letter-spacing: -0.3px;
  line-height: 22px;
  font-weight: 400;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
  overflow: hidden;
}
.sec02_item .sec02_item_span02 {
  letter-spacing: -0.3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding: 10px 0 10px 0;
  margin-top: 16px;
}
.sec02_item .game_ul {
  height: 100px;
  overflow: scroll;
  -webkit-mask-image: linear-gradient(to bottom, rgb(255, 255, 255) calc(100% - 24px), rgba(255, 255, 255, 0));
          mask-image: linear-gradient(to bottom, rgb(255, 255, 255) calc(100% - 24px), rgba(255, 255, 255, 0));
}
.sec02_item .game_ul .game_li {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin-top: 5px;
}
.sec02_item .game_ul .game_li img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 1.25rem;
  height: 1.5rem;
  max-width: 100%;
}
.sec02_item .game_ul .game_li span {
  color: rgb(11, 118, 255);
  margin-left: 5px;
  font-size: 14px;
}
.sec02_item .game_ul::-webkit-scrollbar {
  display: none;
  width: 5px;
  height: 5px;
}
.sec02_item .game_ul::-webkit-scrollbar-thumb {
  background-color: #E8EBF6;
  border-radius: 9999px;
}
.sec02_item .sec02_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0 0px;
}
.sec02_item .sec02_footer .sec02_footer_left {
  display: flex;
  gap: 5px;
}
.sec02_item .sec02_footer .sec02_footer_left div:nth-child(2) {
  color: rgb(41, 115, 255);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.sec02_item .sec02_footer .sec02_footer_left .span_01 {
  letter-spacing: -0.3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.sec02_item .sec02_footer .sec02_footer_right {
  display: flex;
  gap: 5px;
}
.sec02_item .sec02_footer .sec02_footer_right li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(232, 235, 242);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.sec02_item:hover {
  outline: 1px solid #ccc;
  transition: all ease-in;
}
.sec02_item:hover .game_ul::-webkit-scrollbar {
  display: block;
}

.section03 {
  position: relative;
  margin: 100px auto;
}

.section03-inner {
  width: 100%;
}

.sec03_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec03_container {
  position: relative;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}

.sec03_img01_container {
  position: relative;
  flex: 1;
}

.sec03_img01 {
  background-image: url("https://creators-cdn.nexon.com/creators-support/assets/home/game/community2/game_2092_1711501497407.png");
  background-position: center;
  background-size: cover;
  width: 590px;
  height: 208px;
}

.sec03_img02 {
  background-image: url("https://creators-cdn.nexon.com/creators-support/assets/home/game/community2/game_2009_1711501430064.png");
  background-position: center;
  background-size: cover;
  width: 590px;
  height: 208px;
}

.hit_link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  color: #eee;
}
.hit_link .hit_tit {
  font-weight: 500;
  font-size: 24px;
}
.hit_link button {
  display: flex;
  align-items: center;
  letter-spacing: -0.26px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-image: linear-gradient(270deg, #00DC7A 0%, #00C3A1 33.33%, #119FFF 66.67%, #0076FF 100%);
  border-radius: 20px;
  height: 36px;
  font-size: 12px;
}

.class_p {
  margin-top: 10px;
}
.class_p span {
  color: rgb(116, 122, 134);
  letter-spacing: -0.3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.sec04_main_container {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-top: 50px;
}

.sec04_left_con {
  position: relative;
  width: 285px;
  height: 415px;
  flex: 1;
}

.sec_04_text01 {
  text-align: center;
  letter-spacing: -0.5px;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: #fff;
}

.sec04_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgb(41, 115, 255);
  height: 100%;
  border-radius: 0.75rem;
  padding: 10px 22px;
}
.sec04_left .sec_04_text02 {
  opacity: 0.6;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.sec04_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 14px;
  background-color: rgb(0, 24, 142);
  border-radius: 0.5rem;
  padding: 15px 0px;
  width: 100%;
}

.sec04_right_con {
  display: flex;
  justify-content: space-between;
  flex: 1 1 0%;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.sec04_right_text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.sec04_right_text i {
  font-size: 28px;
}
.sec04_right_text span {
  letter-spacing: -0.43px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.sec04_right_bottom {
  position: relative;
}
.sec04_right_bottom .sec04_bottom_item_con {
  position: relative;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}
.sec04_right_bottom .sec04_bottom_item_list {
  width: 285px;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.shadow_con {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.95));
  border-radius: 20px;
}
.shadow_con .hot {
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(175, 73, 255);
  font-size: 12px;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
}
.shadow_con .hot-camp {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 25px;
}

.sec04_bottom_text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.25rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 5px;
  color: rgb(255, 255, 255);
}
.sec04_bottom_text .text01 {
  letter-spacing: -0.43px;
  font-weight: 700;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
.sec04_bottom_text .text02 {
  display: flex;
  gap: 10px;
}
.sec04_bottom_text .text03 {
  padding-top: 1.25rem;
  padding-bottom: 0.1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(232, 235, 242, 0.2);
}
.sec04_bottom_text .text03 p:nth-child(1) {
  letter-spacing: -0.26px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.sec04_bottom_text .text03 p:nth-child(2) {
  color: rgb(177, 183, 196);
  letter-spacing: -0.26px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.sec04_bottom_text .text04 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec04_bottom_text .text04 .text04_01 img {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  margin-right: 2px;
  transform: translateY(5px);
}
.sec04_bottom_text .text04 .text04_02 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sec04_bottom_text .text04 .text04_02 img {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  transform: translateY(5px);
}
.sec04_bottom_text .text04 .text04_02 span {
  color: rgb(255, 230, 0);
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
}

.sec04_item01 {
  position: relative;
  overflow: hidden;
  transition: all 1s;
}

.sec04_main_img_01 {
  overflow: hidden;
}
.sec04_main_img_01 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s;
  border-radius: 20px;
}

.sec05_con {
  position: relative;
  margin: 100px auto;
}

.sec05_title_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec05_title_block a {
  display: flex;
  align-items: center;
}
.sec05_title_block .sec05_tit {
  letter-spacing: -0.5px;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}

.sec05_mc {
  position: relative;
}
.sec05_mc .sec05_tab_list {
  display: flex;
  gap: 10px;
  margin: 30px 0;
}
.sec05_mc .sec05_tab_item.active {
  border-radius: 9999px;
  background: rgb(41, 115, 255);
  color: #fff;
}
.sec05_mc .sec05_a span {
  color: rgb(116, 122, 134);
  letter-spacing: -0.35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.sec05_mc .tab_item_link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 19px 12px 19px;
  border-radius: 9999px;
  border: 1px solid rgb(116, 122, 134);
}
.sec05_mc .tab_item_link:hover {
  border: 1px solid rgb(41, 115, 255);
}
.sec05_mc .tab_content {
  display: none;
}
.sec05_mc .tab_content.active {
  display: block;
}
.sec05_mc .tab_content_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 50px;
}
.sec05_mc .tab_content_item {
  position: relative;
  width: 590px;
  height: 364px;
}
.sec05_mc .tab_content_item a {
  display: flex;
  width: 100%;
  height: 100%;
}
.sec05_mc .sec05_text_second_date_con {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(232, 235, 242);
  padding-bottom: 5px;
}
.sec05_mc .sec05_text_second_date_con .date_person {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.sec05_mc .sec05_text_second_date_con .date_person #person {
  color: rgb(177, 183, 196);
}
.sec05_mc .sec05_text_second_date_con .date_person span {
  letter-spacing: -0.26px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.sec05_mc .date_date {
  color: rgb(177, 183, 196);
  letter-spacing: -0.26px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.sec05_mc .sec05_text_second_bottom_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.sec05_mc .sec05_text_second_bottom_con .sec05_bottom_item {
  color: rgb(181, 86, 255);
  justify-content: center;
  align-items: center;
}
.sec05_mc .sec05_text_second_bottom_con .sec05_bottom_item span {
  letter-spacing: -0.3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}
.sec05_mc .sec05_text_second_bottom_con button #heart {
  color: rgb(210, 214, 224);
}
.sec05_mc .tab_content_item {
  position: relative;
  width: 590px;
  height: 364px;
}
.sec05_mc .tab_content_item a {
  width: 100%;
  height: 100%;
  display: flex;
}
.sec05_mc .li_item_03_left_con {
  position: relative;
}
.sec05_mc .li_item_03_left_con .left_img_con {
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  overflow: hidden;
  width: 285px;
  height: 364px;
}
.sec05_mc .li_item_03_left_con .left_img_con img {
  -o-object-fit: contain;
     object-fit: contain;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  width: 285px;
  height: 364px;
}
.sec05_mc .li_item_03_left_con .left_img_con div {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.sec05_mc .li_item_03_left_con .shadow_con01 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  position: absolute;
  left: 0;
  width: 100%;
  height: 80px;
  bottom: 0;
  border-bottom-left-radius: 0.5rem;
}
.sec05_mc .li_item_03_left_con .li_item_03_left_img {
  position: absolute;
  width: auto;
  height: 22px;
  left: 12px;
  bottom: 12px;
}
.sec05_mc .li_item_03_left_con .li_item_03_left_energy {
  align-items: center;
  display: flex;
  right: 1.25rem;
  position: absolute;
  bottom: 12px;
}
.sec05_mc .li_item_03_left_con .li_item_03_left_energy img {
  width: 1.25rem;
  height: 1.25rem;
}
.sec05_mc .li_item_03_left_con .li_item_03_left_energy span {
  color: rgb(255, 230, 0);
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
}
.sec05_mc .li_item_03_right_con {
  box-shadow: 0px 4px 8px 0px rgba(219, 221, 233, 0.5);
  padding: 1.5rem;
  padding-bottom: 1.25rem;
  background-color: rgb(255, 255, 255);
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 305px;
  height: 364px;
}
.sec05_mc .li_item_03_right_con .li_item_03_top_con {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sec05_mc .li_item_03_right_con .li_item_03_top_con p {
  color: rgb(23, 25, 28);
  letter-spacing: -0.43px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
  overflow: hidden;
}
.sec05_mc .li_item_03_right_con .li_item_03_top_con span {
  color: rgb(116, 122, 134);
  font-size: 14px;
  line-height: 22px;
  width: 100%;
}
.sec05_mc .li_item_03_right_con .li_item_03_top_con .li_03_cash_con {
  display: flex;
  align-items: center;
}
.sec05_mc .li_item_03_right_con .li_item_03_top_con .li_03_cash_con img {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 2px;
}
.sec05_mc .li_item_03_right_con .li_item_03_top_con .li_03_cash_con span {
  color: rgb(23, 25, 28);
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
}

.section06 {
  position: relative;
}

.sec06_con {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.section06 .sec06_tit-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.sec06_item01 {
  display: flex;
  flex-direction: column;
}

.sec06_top_text {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.sec06_top_text .arrow_icon {
  width: 15px;
  height: 20px;
  transform: scale(0.6);
}
.sec06_top_text h3 {
  letter-spacing: -0.43px;
  font-weight: 700;
  font-size: 20px;
}
.sec06_top_text span {
  color: rgb(116, 122, 134);
  letter-spacing: -0.3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.sec06_bottom_content {
  width: 386px;
  height: 100%;
  background-image: linear-gradient(to bottom, #6284FF, #3955FF);
  border-radius: 0.75rem;
}

.sec06_first_main_con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 108px;
  margin-top: 42px;
  margin-left: 139px;
  position: absolute;
}

.sec06_first_con {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.crown {
  width: 2.5rem;
  height: 29px;
}

.main_ranking_con {
  background-image: url("../img/nexon_img/MainRankingTop3.svg");
  width: 100%;
  height: 329px;
}

.first_img img {
  border: 2px solid rgb(255, 232, 48);
  border-radius: 9999px;
  overflow: hidden;
  width: 88px;
  height: 88px;
  margin-top: -4px;
}

.sec06_first_btn {
  background-color: transparent;
  background-image: none;
  border: none;
}
.sec06_first_btn p {
  color: rgb(255, 255, 255);
  letter-spacing: -0.3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
}

.sec06_second_main_con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 108px;
  margin-top: 127px;
  margin-left: 1.25rem;
  position: absolute;
}

.crown2 {
  width: 1.5rem;
  height: 17px;
}

.second_img {
  border: 2px solid rgb(235, 235, 235);
  border-radius: 9999px;
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin-top: -3px;
}

.sec06_second_btn {
  background-color: transparent;
  background-image: none;
  border: none;
}
.sec06_second_btn p {
  color: rgb(255, 255, 255);
  letter-spacing: -0.3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
}

.sec06_third_main_con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 108px;
  margin-top: 154px;
  margin-left: 258px;
  position: absolute;
}

.crown3 {
  width: 1.5rem;
  height: 17px;
}

.third_img {
  border: 2px solid rgb(255, 200, 168);
  border-radius: 9999px;
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin-top: -3px;
}

.sec06_third_btn {
  background-color: transparent;
  background-image: none;
  border: none;
}
.sec06_third_btn p {
  color: rgb(255, 255, 255);
  letter-spacing: -0.3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
  width: 100px;
}

.sec06_bottom_first {
  display: flex;
  align-items: center;
  height: 68px;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  color: rgb(255, 255, 255);
}
.sec06_bottom_first .first_profile {
  display: flex;
}
.sec06_bottom_first .first_profile img {
  width: 28px;
  height: 28px;
  margin-right: 0.375rem;
  overflow: hidden;
  border-radius: 9999px;
}
.sec06_bottom_first .first_profile button {
  width: 101px;
  margin-right: 1rem;
  border: none;
  background-image: none;
  background-color: transparent;
}
.sec06_bottom_first .first_profile button span {
  letter-spacing: -0.3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: rgb(255, 255, 255);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
}
.sec06_bottom_first .rank_num {
  width: 22px;
  letter-spacing: -0.35px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.sec06_bottom_first .game_name {
  width: 105px;
  margin-right: 0.5rem;
}
.sec06_bottom_first .game_name span {
  letter-spacing: -0.3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.person_num {
  display: flex;
  justify-content: end;
  letter-spacing: -0.3px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  flex: 1 1 0%;
}
.person_num span:nth-child(2) {
  opacity: 0.7;
  margin-left: 1px;
}

.sec06_br {
  opacity: 0.2;
  border-color: rgb(210, 214, 224);
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.sec06_item02 {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
}

.sec06_first_rank_con {
  color: rgb(255, 255, 255);
  padding-left: 21px;
  padding-right: 21px;
  background-image: linear-gradient(to bottom, #6284FF, #3955FF);
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 122px;
  position: relative;
}
.sec06_first_rank_con img {
  border-radius: 9999px;
  overflow: hidden;
  width: 56px;
  height: 56px;
  position: relative;
}
.sec06_first_rank_con button {
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  margin-right: auto;
  margin-left: 0.5rem;
  margin-bottom: 1px;
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
}
.sec06_first_rank_con button span {
  letter-spacing: -0.35px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.sec06_first_rank_con button .sub_game {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  font-weight: 400;
  opacity: 0.7;
}

.rank_background_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 132px;
  height: 122px;
  background-image: url(../img/nexon_img/rankingbg.svg);
}

.rank_num01 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.35px;
  width: 18px;
}

.ranking_con {
  box-shadow: 0px 4px 8px 0px rgba(219, 221, 233, 0.5019607843);
  background-color: rgb(255, 255, 255);
  border-radius: 0.75rem;
  flex: 1 1 0%;
}

.ranking_item {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  height: 68px;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.ranking_item img {
  border-radius: 9999px;
  width: 28px;
  height: 28px;
  overflow: hidden;
  margin-right: 0.375rem;
}
.ranking_item button {
  width: 101px;
  margin-right: 1rem;
  background-color: transparent;
  border: none;
}
.ranking_item button span {
  letter-spacing: -0.3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
}

.game_name01 {
  width: 105px;
  margin-right: 0.5rem;
}
.game_name01 span {
  letter-spacing: -0.3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.rank_person {
  text-align: right;
  flex: 1;
}
.rank_person span:nth-child(1) {
  color: rgb(41, 115, 255);
  letter-spacing: -0.3px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.rank_person span:nth-child(2) {
  color: rgb(116, 122, 134);
  letter-spacing: -0.3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-left: 1px;
}

.sec07_con {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 100px 0;
}
.sec07_con .se07_text01 {
  background-image: linear-gradient(270deg, #00DC7A 0%, #00C3A1 33.33%, #119FFF 66.67%, #0076FF 100%);
  color: transparent;
  letter-spacing: -0.01em;
  line-height: 53px;
  font-weight: 800;
  font-size: 52px;
  padding-top: 13px;
  padding-bottom: 0.75rem;
  margin-top: -13px;
  margin-bottom: -0.75rem;
  -webkit-background-clip: text;
          background-clip: text;
}
.sec07_con .se07_text02 {
  color: rgb(116, 122, 134);
  letter-spacing: -0.43px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.sec07_con .sec07_text03 {
  background-image: linear-gradient(270deg, #00DC7A 0%, #00C3A1 33.33%, #119FFF 66.67%, #0076FF 100%);
  color: rgb(255, 255, 255);
  letter-spacing: -0.35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding-top: 15px;
  border-radius: 9999px;
  width: 200px;
  height: 3.5rem;
}

.footer {
  position: relative;
  background-color: rgb(23, 25, 28);
}
.footer .footer_inner {
  height: 80px;
  width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.nexon_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nexon_con .footer_left {
  display: flex;
  gap: 10px;
}
.nexon_con p {
  color: rgb(210, 214, 224);
  letter-spacing: -0.3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.nexon_footer_logo {
  width: 103px;
  height: 32px;
}

.hidden_bar {
  vertical-align: middle;
  background-color: rgba(217, 217, 217, 0.4);
  width: 1px;
  height: 12px;
  margin-left: 12px;
  margin-right: 12px;
  display: inline-block;
}

.footer_right {
  letter-spacing: -0.3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.footer_right a {
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=main.css.map */